<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jasmine Spec Runner v<%= jasmineVersion %></title>

  <link rel="shortcut icon" type="image/png" href="node_modules\jasmine-core\images/jasmine_favicon.png">
  <link rel="stylesheet" href="node_modules\jasmine-core\lib\jasmine-core/jasmine.css">

  <script src="node_modules\jasmine-core\lib\jasmine-core\jasmine.js"></script>
  <script src="node_modules\jasmine-core\lib\jasmine-core\jasmine-html.js"></script>
  <script src="node_modules\jasmine-core\lib\jasmine-core\boot.js"></script>
  <script src="node_modules\angular\angular.js"></script>
  <script src="node_modules\angular-mocks\angular-mocks.js"></script>

 

  <!-- include source files here... -->
  <script src="src/omdb/service.js"></script>

  <!-- include spec files here... -->
  <script src="spec/omdb/service.spec.js"></script>


</head>

<body>
</body>
</html>